*{
    margin:0;
    padding:0;
}

:root {
    --primary-color:#06B6D4;
    --off-white:#f3f4f6;
    --dark-grey:#6b7280;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 34px;

  
  
     
   }

/*header*/
.hero{
    padding:2rem;
    padding-top:5rem;
}

.hero .hero-img{
    width:550px;
    display:block;
    margin:auto;
    max-width:80%;
}

.hero .hero-heading{
    text-align:center;
    padding-top:1rem;
    color:var(--dark-grey);
}

.hero .hero-heading .heading-inverted{
    color:var(--primary-color);
}

/*Nav bar*/
.nav-container{
    padding:1rem;
    display:flex;
    justify-content:space-between;
     align-items: center; 
   background-color:var(--primary-color);
   border-top-left-radius: 1rem;
   border-top-right-radius: 1rem;
   height:10vh;
   flex-wrap: wrap; 
}

.nav-logo, .footer-header{
    color:#ffffff;
    font-size:large;
    font-style: italic;
}

.nav-items{
    display:flex;
    gap:15px;
    
}

.nav-item a{
    color:#ffffff;
    text-decoration: none;
  
}

.nav-container .link-active{
    font-weight:bold;
}

/*section*/
.section{
    text-align: center;
    padding:2rem;
    margin:2rem 0;
    border-radius:1rem;
}

/*fluid-container*/
.container{
    padding:0rem 1rem;

}

/*center-container*/
.container-center{
    max-width:85%;
    width:100%;
    margin:auto;
}

/*off-white block*/
.ow{
    background-color: var(--off-white);
    
}

/* links */

.link-single-button{
    text-align: center;
    text-decoration: none;
}
.link{
    box-sizing: border-box;
    text-decoration: none;
    padding:0.5rem 1rem;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center; 
}

/* primary link*/
.link-primary{
  background-color: var(--primary-color);
  color:#ffffff;
  border-radius: 2rem;
  padding:0.6rem 1.2rem;
  margin: 1rem 1rem;
  max-width: 140px;
  
}

/* secondary link*/
.link-secondary{
  color:var(--primary-color);
  border-radius: 2rem;
  padding:0.6rem 1.2rem; 
  margin: 1rem 1rem;
  max-width: 140px;
  border: 1px solid #06B6D4;
}

/*Footer*/
.footer{
    
    padding:1rem;
   background-color:var(--primary-color);
   border-bottom-left-radius: 1rem; 
  border-bottom-right-radius: 1rem; 
  text-align:center;
  height:10vh;
}

.footer-header-socialmedia-items{
    display:flex;
    gap:15px;
    align-items: center;
  justify-content: center;
  font-size:15px;
    
}

.footer-header-socialmedia-items a{
    color:white;
    text-decoration: none;
    
    
}
    
/*typography small text*/
small{
  
    font-weight:bold;;
}