@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Sofia+Sans:wght@500;700&display=swap" rel="stylesheet);


*{
    margin:0;
    padding:0;
}

:root {
    --primary-color:green;
    
    }

body{
    background-color: black;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sofia Sans', sans-serif;

}

/* NAV BAR */
.nav-container{
    display:flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding:3rem;
    flex-wrap: wrap;
    gap:1rem;
}

.nav-logo{
    font-size:x-large;
    font-weight: bold;
    text-align: left
    
}

.nav-logo:hover{
    font-style: italic;
   
}

.nav-items{
    display: flex;
    gap: 2rem;
    
    
    }
.nav-items a{
    text-decoration: none;
    color:white;
    font-size: large;
}

.nav-items a:hover{
    text-decoration-line: overline underline;
}

h1{
    color:var(--primary-color);
}
header{
    text-align: center;
}

.hero-img{
border-radius: 2rem;
width:300px;
border: 6px solid white;


}

.container{
    display:block;
    margin:34px;
    padding:2rem;
    text-align: center;
}

.btn-primary{
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding:1rem;
    font-size: large;

}

.btn-secondary{
    text-decoration: none;
    color: var(--primary-color);
        border-radius: 1rem;
    padding:1rem;
    font-size: large;
  background-color: white;
  border-color: var(--primary-color);


}

/* FOOTER */
.foot-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    background-color: var(--primary-color);
    padding:3rem;
}

.foot-title{
    font-size:larger;
    text-decoration:underline overline;
}

.foot-socialCont{
    display: flex;
    gap:1rem;
font-size: large;

}

.foot-container a{
    text-decoration: none;
    color: white;}

    .foot-container a:hover{
        font-size: large;
        font-weight: bold;}

p{
    font-size: large;
}